@model dynamic
<form asp-action="Edit" method="post" class="mt-3">
    
    <input type="hidden" asp-for="Name" />
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
</form>