@model RenovationApp.Server.Models.RFQImage

<h2>RFQ Image Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Image URL</dt>
            <dd class="col-sm-9">@Model.ImageUrl</dd>

            <dt class="col-sm-3">Uploaded</dt>
            <dd class="col-sm-9">@Model.UploadedTimestamp</dd>

            <dt class="col-sm-3">RFQ ID</dt>
            <dd class="col-sm-9">@Model.RFQId</dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>