/* Primary button */
.btn-primary {
  background: #092B49; /* Blue from Figma */
  color: white;
}

.btn-primary:hover:not(:disabled):not(.disabled),
.btn-primary:focus:not(:disabled):not(.disabled),
.btn-primary:active:not(:disabled):not(.disabled) {
  background-color: #103b64; /* Slightly lighter for hover */
  border-color: #103b64;
}

/* Custom colors for secondary button */
.btn-secondary {
  border: 2px solid #092B49;
  background-color: transparent;
  color: #092B49;
}

.btn-secondary:hover:not(:disabled):not(.disabled),
.btn-secondary:focus:not(:disabled):not(.disabled),
.btn-secondary:active:not(:disabled):not(.disabled) {
  background-color: rgba(9, 43, 73, 0.05);
  border-color: #092B49;
  color: #092B49;
}